cosl
cryptography
jsonschema
ops @ git+https://github.com/tonyandrewmeyer/operator@fix-config-types-1182
pyaml
requests
lightkube >= 0.11
lightkube-models >= 1.22.0.4
# From PYDEPS
importlib-metadata~=6.0.0
opentelemetry-exporter-otlp-proto-http
