cosl
cryptography
jsonschema
# pinned to 2.16 as 2.17 breaks our unittests
ops == 2.16
pyaml
requests
lightkube >= 0.11
lightkube-models >= 1.22.0.4
# From PYDEPS
importlib-metadata~=6.0.0
opentelemetry-exporter-otlp-proto-http
