git+https://github.com/canonical/operator#egg=ops
git+https://github.com/canonical/prometheus-scrape-interface#egg=prometheus-scrape
pyaml
requests
lightkube >= 0.8.1
lightkube-models >= 1.22.0.4
serialized-data-interface >= 0.4.0
